<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.se_bastiaan.popcorntimeremote" android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.PopcornTimeRemote"
        >
        <activity
            android:name=".activities.OverviewActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ControllerActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <provider
            android:name="eu.se_bastiaan.popcorntimeremote.database.InstanceProvider"
            android:authorities="eu.se_bastiaan.popcorntimeremote.instanceprovider"
            android:exported="false"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="a1e31c00b3a224cf9d856f1e4c1af8ddba4756f0"/>
    </application>

</manifest>
